body (min-width: 980px) {
    padding-top: 60px;
    padding-bottom: 40px;
}
div.span1 div.span2, div.span3, div.span4, div.span5 div.span6, div.span7, div.span8, div.span9 div.span10, div.span11, div.span12 {
    -webkit-transition: all 0.3s ease-in-out;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
div.hover:hover {
    cursor: pointer;
    background: #f3f3ff;
}
article {
    padding-bottom: 20px;
}
footer {
    color: #efefef;
}
footer a {
    color: #efefef;
}
footer a:hover {
    color: #cfcfcf;
}
a:hover {
    text-decoration: none;
}
