---
layout: base
description: A description about my blog homepage
---
      <div class="hero-unit">
        <div class="media">
          <div class="media-body">
            <h1>dal·li·ance</h1>
            <h5>/ˈdalēəns/</h5>
            <p>Noun</p>
            <ol style="padding-left: 20px">
              <li>waste of time in frivolous action or in dawdling.</li>
              <li>brief or casual involvement with something.</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span12"><span class="label label-info">Latest project updates</span></div>
          {% sorted_for project in site.projects reversed sort_by:modified %}
          {% if project.promote %}
            <div class="hover span4">
              <h3><a href="/projects/{{ project.filename }}.html">{{ project.title }}</a></h3>
              <h5><time>{{ project.modified | date: '%B' }} {{ project.modified | date: '%e' }}, {{ project.modified | date: '%Y' }}</time></h5>
              <p>{{ project.excerpt }}</p>
              <p><a class="btn" href="/projects/{{ project.filename }}.html">View project »</a></p>
            </div>
          {% endif %}
        {% endsorted_for %}
      </div>
      <hr>
      <div class="row">
        <div class="span12"><span class="label label-info">Latest blog post</span></div>
        <div class="hover span12">
            <h2>
              <a href="{{ site.posts.first.url }}" rel="bookmark" title="Permanent link to ">{{ site.posts.first.title }}</a>
            </h2>
            <h5><time>{{ site.posts.first.date | date: '%B' }} {{ site.posts.first.date | date: '%e' }}, {{ site.posts.first.date | date: '%Y' }}</time></h5>
            {{ site.posts.first.content | split:'<!--break-->' | first }}
            {% if site.posts.first.content contains '<!--break-->' %}
              <a class="readmore" href="{{ site.posts.first.url }}">read more</a>
            {% endif %}
          </div>
      </div>
      <hr>
      <div class="row">
        <div class="span12"><span class="label label-info">Latest notebook entries</span></div>
        {% sorted_for note in site.notes reversed sort_by:modified %}
          {% if note.promote %}
            <div class="hover span4">
              <h3><a href="/notes/{{ note.filename }}.html">{{ note.title }}</a></h3>
              <h5><time>{{ note.modified | date: '%B' }} {{ note.modified | date: '%e' }}, {{ note.modified | date: '%Y' }}</time></h5>
              <p>{{ note.excerpt }}</p>
              <p><a class="btn" href="/notes/{{ note.filename }}.html">View article »</a></p>
            </div>
          {% endif %}
        {% endsorted_for %}
      </div>
