---
layout: base
---
      <div class="row">
          {% if page.status == 'stale' %}
          <div class="span12">
            <div class="alert alert-error alert-block">
              This page has been classified as <span class="label label-important">{{ page.status }}</span>.  Information may be incorrect or outdated.
            </div>
          </div>
          {% elsif page.status == 'current' %}
          <div class="span12">
            <div class="alert alert-success alert-block">
              <span class="label label-success">NOTE:</span> I am currently updating this project. Information may change often!
            </div>
          </div>
          {% endif %}
          <div id="content" class="span12">
            <h3>{{ page.title }}</h3>
            <h5><time>{{ page.last_modified | date: '%B' }} {{ page.last_modified | date: '%e' }}, {{ page.last_modified | date: '%Y' }}</time></h5>
            {{ content }}
          </div>
      </div>

  <hr />
{% include discus.html %}
