---
layout: base
---
      <div class="row">
          {% if page.status %}
          <div class="span12">
            <div class="alert alert-error alert-block">
              This page has been classified as <span class="label label-important">{{ page.status }}</span>.  Information may be incorrect or outdated.
            </div>
          </div>
          {% endif %}
          <div id="content" class="span12">
            <h3>{{ page.title }}</h3>
            <h5>Last Modified: {{ page.last_modified }}</h5>
            {{ content }}
          </div>
      </div>

  <hr />
  {% if site.disqus %}
  <div id="comments">
    <h3>Comments</h3>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_identifier = "{{ page.url }}";
      (function() {
       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       dsq.src = 'http://{{ site.disqus.id }}.disqus.com/embed.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript={{ site.disqus.id }}">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
  {% endif %}
