---
layout: sidebar
---
<article>
  <header>
    <h2>
      <a href="{{ page.url }}" rel="bookmark" title="Permanent link to ">{{ page.title }}</a>
    </h2>
    <h5><time>{{ page.date | date: '%B' }} {{ page.date | date: '%e' }}, {{ page.date | date: '%Y' }}</time></h5>
  </header>

  {{ content }}

  {% if site.related_posts.size > 0 %}
  <nav id="related">
    <h3>Related Posts</h3>
    <ul class="posts">
      {% for post in site.related_posts limit:3 %}
        <li><span>{{ post.date | date_to_string }}</span> - <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
</article>

  <hr />
{% include discus.html %}
